<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Slicer</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
  <div class="container">
    <%- body %>
  </div>
  <script>
    feather.replace();
  </script>
</body>
</html>